﻿@model GoogleImage.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm())
{

    <div class="well-lg">
        <h4>Image Search</h4>
        <div class="form-inline">
            <input type="text" class="form-control col-md-10 " style="width: 100%" name="Keywords" id="Keywords" placeholder="Enter search words" />
            <input type="submit" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @if (Model.Images.Count() > 0)
    {
        foreach (var item in Model.Images)
        {
            <div class="col-md-3 "><a title="@item.Title" href="#"><img class="thumbnail img-thumbnail" src="@item.ThumbnailUrl" /></a></div>
        }


        <div tabindex="-1" class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h3 class="modal-title">Heading</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    }
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

@section Scripts {
<script>
    $('.thumbnail').click(function(){
  	$('.modal-body').empty();
  	var title = $(this).parent('a').attr("title");
  	$('.modal-title').html(title);
  	$($(this).parents('div').html()).appendTo('.modal-body');
  	$('#myModal').modal({show:true});
});
</script>
}